; Format of each line is: ASCII NUM = WIDTH x HEIGHT
; Must appear in the same order as in your PCX file
; ASCII num   0 = 
; ASCII num   1 =             ASCII num  86 = V       ASCII num 171 = ´
; ASCII num   2 =             ASCII num  87 = W       ASCII num 172 = ¨
; ASCII num   3 =             ASCII num  88 = X       ASCII num 173 = ≠
; ASCII num   4 =             ASCII num  89 = Y       ASCII num 174 = Æ
; ASCII num   5 =             ASCII num  90 = Z       ASCII num 175 = Ø
; ASCII num   6 =             ASCII num  91 = [       ASCII num 176 = ∞
; ASCII num   7 =             ASCII num  92 = \       ASCII num 177 = ±
; ASCII num   8 = Backsp      ASCII num  93 = ]       ASCII num 178 = ≤
; ASCII num   9 = Tab         ASCII num  94 = ^       ASCII num 179 = ≥
; ASCII num  10 = LF          ASCII num  95 = _       ASCII num 180 = ¥
; ASCII num  11 =             ASCII num  96 = `       ASCII num 181 = µ
; ASCII num  12 = FF          ASCII num  97 = a       ASCII num 182 = ∂
; ASCII num  13 = CR          ASCII num  98 = b       ASCII num 183 = ∑
; ASCII num  14 =             ASCII num  99 = c       ASCII num 184 = ∏
; ASCII num  15 =             ASCII num 100 = d       ASCII num 185 = π
; ASCII num  16 =             ASCII num 101 = e       ASCII num 186 = ∫
; ASCII num  17 =             ASCII num 102 = f       ASCII num 187 = ª
; ASCII num  18 =             ASCII num 103 = g       ASCII num 188 = º
; ASCII num  19 =             ASCII num 104 = h       ASCII num 189 = Ω
; ASCII num  20 =             ASCII num 105 = i       ASCII num 190 = æ
; ASCII num  21 =             ASCII num 106 = j       ASCII num 191 = ø
; ASCII num  22 =             ASCII num 107 = k       ASCII num 192 = ¿
; ASCII num  23 =             ASCII num 108 = l       ASCII num 193 = ¡
; ASCII num  24 =             ASCII num 109 = m       ASCII num 194 = ¬
; ASCII num  25 =             ASCII num 110 = n       ASCII num 195 = √
; ASCII num  26 = Escape      ASCII num 111 = o       ASCII num 196 = ƒ
; ASCII num  27 =             ASCII num 112 = p       ASCII num 197 = ≈
; ASCII num  28 =             ASCII num 113 = q       ASCII num 198 = ∆
; ASCII num  29 =             ASCII num 114 = r       ASCII num 199 = «
; ASCII num  30 =             ASCII num 115 = s       ASCII num 200 = »
; ASCII num  31 =             ASCII num 116 = t       ASCII num 201 = …
; ASCII num  32 = Space       ASCII num 117 = u       ASCII num 202 =  
; ASCII num  33 = !           ASCII num 118 = v       ASCII num 203 = À
; ASCII num  34 = "           ASCII num 119 = w       ASCII num 204 = Ã
; ASCII num  35 = #           ASCII num 120 = x       ASCII num 205 = Õ
; ASCII num  36 = $           ASCII num 121 = y       ASCII num 206 = Œ
; ASCII num  37 = %           ASCII num 122 = z       ASCII num 207 = œ
; ASCII num  38 = &           ASCII num 123 = {       ASCII num 208 = –
; ASCII num  39 = '           ASCII num 124 = |       ASCII num 209 = —
; ASCII num  40 = (           ASCII num 125 = }       ASCII num 210 = “
; ASCII num  41 = )           ASCII num 126 = ~       ASCII num 211 = ”
; ASCII num  42 = *           ASCII num 127 =        ASCII num 212 = ‘
; ASCII num  43 = +           ASCII num 128 = Ä       ASCII num 213 = ’
; ASCII num  44 = ,           ASCII num 129 = Å       ASCII num 214 = ÷
; ASCII num  45 = -           ASCII num 130 = Ç       ASCII num 215 = ◊
; ASCII num  46 = .           ASCII num 131 = É       ASCII num 216 = ÿ
; ASCII num  47 = /           ASCII num 132 = Ñ       ASCII num 217 = Ÿ
; ASCII num  48 = 0           ASCII num 133 = Ö       ASCII num 218 = ⁄
; ASCII num  49 = 1           ASCII num 134 = Ü       ASCII num 219 = €
; ASCII num  50 = 2           ASCII num 135 = á       ASCII num 220 = ‹
; ASCII num  51 = 3           ASCII num 136 = à       ASCII num 221 = ›
; ASCII num  52 = 4           ASCII num 137 = â       ASCII num 222 = ﬁ
; ASCII num  53 = 5           ASCII num 138 = ä       ASCII num 223 = ﬂ
; ASCII num  54 = 6           ASCII num 139 = ã       ASCII num 224 = ‡
; ASCII num  55 = 7           ASCII num 140 = å       ASCII num 225 = ·
; ASCII num  56 = 8           ASCII num 141 = ç       ASCII num 226 = ‚
; ASCII num  57 = 9           ASCII num 142 = é       ASCII num 227 = „
; ASCII num  58 = :           ASCII num 143 = è       ASCII num 228 = ‰
; ASCII num  59 = ;           ASCII num 144 = ê       ASCII num 229 = Â
; ASCII num  60 = <           ASCII num 145 = ë       ASCII num 230 = Ê
; ASCII num  61 = =           ASCII num 146 = í       ASCII num 231 = Á
; ASCII num  62 = >           ASCII num 147 = ì       ASCII num 232 = Ë
; ASCII num  63 = ?           ASCII num 148 = î       ASCII num 233 = È
; ASCII num  64 = @           ASCII num 149 = ï       ASCII num 234 = Í
; ASCII num  65 = A           ASCII num 150 = ñ       ASCII num 235 = Î
; ASCII num  66 = B           ASCII num 151 = ó       ASCII num 236 = Ï
; ASCII num  67 = C           ASCII num 152 = ò       ASCII num 237 = Ì
; ASCII num  68 = D           ASCII num 153 = ô       ASCII num 238 = Ó
; ASCII num  69 = E           ASCII num 154 = ö       ASCII num 239 = Ô
; ASCII num  70 = F           ASCII num 155 = õ       ASCII num 240 = 
; ASCII num  71 = G           ASCII num 156 = ú       ASCII num 241 = Ò
; ASCII num  72 = H           ASCII num 157 = ù       ASCII num 242 = Ú
; ASCII num  73 = I           ASCII num 158 = û       ASCII num 243 = Û
; ASCII num  74 = J           ASCII num 159 = ü       ASCII num 244 = Ù
; ASCII num  75 = K           ASCII num 160 = †       ASCII num 245 = ı
; ASCII num  76 = L           ASCII num 161 = °       ASCII num 246 = ˆ
; ASCII num  77 = M           ASCII num 162 = ¢       ASCII num 247 = ˜
; ASCII num  78 = N           ASCII num 163 = £       ASCII num 248 = ¯
; ASCII num  79 = O           ASCII num 164 = §       ASCII num 249 = ˘
; ASCII num  80 = P           ASCII num 165 = •       ASCII num 250 = ˙
; ASCII num  81 = Q           ASCII num 166 = ¶       ASCII num 251 = ˚
; ASCII num  82 = R           ASCII num 167 = ß       ASCII num 252 = ¸
; ASCII num  83 = S           ASCII num 168 = ®       ASCII num 253 = ˝
; ASCII num  84 = T           ASCII num 169 = ©       ASCII num 254 = ˛
;                                                     ASCII num 255 =

charrows = 4
charsinrow = 13 13 17 2

097 = 25 x 35                   ; a
098 = 25 x 35                   ; b
099 = 21 x 35                   ; c
100 = 25 x 35                   ; d
101 = 24 x 35                   ; e
102 = 20 x 35                   ; f
103 = 25 x 35                   ; g
104 = 25 x 35                   ; h
105 = 11 x 35                   ; i
106 = 19 x 35                   ; j
107 = 25 x 35                   ; k
108 = 12 x 35                   ; l
109 = 31 x 35                   ; m

110 = 22 x 35                   ; n
111 = 22 x 35                   ; o
112 = 22 x 35                   ; p
113 = 22 x 35                   ; q
114 = 17 x 35                   ; r
115 = 21 x 35                   ; s
116 = 18 x 35                   ; t
117 = 22 x 35                   ; u
118 = 22 x 35                   ; v
119 = 31 x 35                   ; w
120 = 24 x 35                   ; x
121 = 23 x 35                   ; y
122 = 21 x 35                   ; z

048 = 23 x 35                   ; 0
049 = 12 x 35                   ; 1
050 = 22 x 35                   ; 2
051 = 21 x 35                   ; 3
052 = 25 x 35                   ; 4
053 = 21 x 35                   ; 5
054 = 22 x 35                   ; 6
055 = 21 x 35                   ; 7
056 = 22 x 35                   ; 8
057 = 22 x 35                   ; 9
040 = 10 x 35                   ; (
041 = 10 x 35                   ; )
045 = 12 x 35                   ; -
046 =  9 x 35                   ; .
033 = 10 x 35                   ; !
063 = 20 x 35                   ; ?
044 = 10 x 35                   ; ,

039 = 10 x 35                   ; '
032 = 19 x 35                   ; space

